.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: none;

}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    width: 80%;
}